.header-container {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding: 2vh;
}

.header-container-title {
  align-items: center;
  display: flex;
  justify-content: center;
}

.header-container-title p {
  font-size: 1.5em;
}

.header-container-title h1 {
  color: #2fc18c;
  font-size: 1.5em;
  text-transform: uppercase;
}

.header-container h2 {
  font-size: 1.2em;
  font-weight: 400;
  position: relative;
}

.header-info-container {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  gap: 1vh;
}

.header-info-icons {
  align-items: center;
  display: flex;
  gap: 2vw;
}

.header-info-icons img {
  width: 25px;
}
