/* .wallet-container {
  padding-bottom: 10vh;
} */

.wallet-container-img {
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: -1;

}

.wallet-img {
  filter: brightness(40%);
  height: 100vh;
}

.wallet-header-form-container {
  background-color: rgba(255, 255, 255, 0.514);
  border-radius: 0 0 10px 10px;
  position: absolute;
  width: 100%;
  z-index: 10;
}


.wallet-table-container {
  padding-top: 20vh;
}

